@import url(./fonts.css);

:root {
    --shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);
    --green-5: rgba(29, 165, 132, 0.05);
    --green-2: rgba(29, 165, 132, 0.02);
}

body{
    background-image: linear-gradient(to bottom, var(--green-5), var(--green-5), var(--green-2));
}


.shadow-MC{
    box-shadow: var(--shadow);
}

.size-nav{
    padding: 18px 44px 18px 44px !important;
}

.nav-title{
    color: #193148 !important;
    line-height: 22px;
    font-weight: 900;
    font-size: 24.59px !important;
}